.loader {
  position: relative;

  &__spinner {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 50px;
    background: rgba(255, 255, 255, 0.8);
  }
}
